.logo-image {
    width: 100px;
    /* Adjust the width as per your requirements */
}

.sign-in-link {
    color: white;
}

.stretch-span {
    display: flex;
    align-items: center;
    width: 100%;
}